
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.errormsg{
    color: red;
}
.font{
    font-family: cursive,LucidaHandwriting;
    color: #292b2c;
    text-align: justify;
    
}

.bg{
    background:H#7289da #ffffff #99aab5#2c2f33 #23272a
}
.intro
{
    font-size: 4rem;
    font-family: cursive,LucidaHandwriting;
}
.fontabout{
    font-family: cursive,LucidaHandwriting;
    color: #292b2c;
    font-size: 2rem;

}

.personal{
    padding-top: 15%;
}
.navbtn{
    color: white;
    background-color: white;
}
.icon{
    color: black;
}
.b:hover {
    background-color: yellow;
  }
  .font1
  {
        font-family: cursive,LucidaHandwriting;
        color: #292b2c;
        text-align: justify;
        font-size: x-large;
  }